* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'sans-serif';
}

/* NAVBAR */


.navbar-container{
  display: flex;
  background-color: #F55A5A;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.logo{
  width: 24px;
}

.navbar-title{
  font-weight: 500;
  font-size: 15px;
  color: white;
}